@import
  'functions',
  'variables',
  'mixins',
  'print',
  'reboot',
  'type',
  'grid',
  'utilities',
  'nav',
  'tables',
  'forms',
  'buttons',
  'input-group',
  'alert',
  'card';

.col-center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
